.boards{
  width: 600px;
  display: flex;
  background-color: blue;
 
 }


.board{
  width: 200px;
  height: 400px;
  margin: 30px 3px 30px;
  background-color: rgb(151, 231, 214);
  cursor: auto;
  position: relative;

  
}

.card {
  width: 100%;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  
}

.form {
margin-top: 50%;
background-color: grey;
margin-top: 50%;
border-width: 10px;
border-color: red;
position: absolute;
z-index: 100;
}
.textcontent {
  width: 180px;
  height: 100px;
  margin-top: 10px;
}
.buttones {
  display: flex;
  margin-top: 10px;
}

.btn {
  background-color: green;
  
 
}

.btnCancel{
width: 20px;
height: 20px;
background-color: grey;
background: "\E951";

margin-left: 10px;
}

.objective {

position: relative;
display: flex;
border-style: solid;
border-width: 2px;
background-color: bisque;
cursor: move;
}

.objective.dragged {

position: absolute;
z-index: 999;
display: flex;
border-style: solid;
border-width: 2px;
border-color: blueviolet;
}

.closewindow {
display: none;
position: absolute;
  top: 0;
  right: 0;
}




.textcontent2 {
  display: inline-block; 
  padding: 5px; 
}

.selected {
  opacity: 0.6;
}